  <form method="post" action="/go/adminreading">
    <textarea rows="10" cols="50" name="content" placeholder="content here..!"> </textarea>
    <br />

    <select name="difficulty"/>
        <option value = "1"> 1 </option>
        <option value = "2"> 2 </option>
        <option value = "3"> 3 </option>
        <option value = "4"> 4 </option>
        <option value = "5"> 5 </option>
    </select>
    <br />

    <select name="language" />
        <option value = "English">English</option>
        <option value = "Deutsch">Deutsch</option>
        <option value = "日本語">日本語</option>
    </select>

    <select name="explicit" />
        <option value = "true">True</option>
        <option value = "false">False</option>
    </select>

    <input type="text" name="vocabConnection" placeholder="uhhh!" />

    <br />

      <button>create reading</button>
   </form>
