<div class="center">
<form method="post" action="/go/adminvocab">

    <input type="text" name="word_eng" placeholder="word english" /><br/>
    <input type="text" name="word_ger" placeholder="word german" /><br/>
    <input type="text" name="word_jpn_k" placeholder="word japanese kanji" /><br/>    
    <input type="text" name="word_jpn_f" placeholder="word japanese furigana" /><br/>
    <input type="text" name="def_eng" placeholder="definition english" /><br/>
    <input type="text" name="def_ger" placeholder="definition german" /><br/>
    <input type="text" name="def_jpn" placeholder="definition japanese" /><br/>
    <textarea rows="10" cols="50" name="usage_eng" placeholder="usage english"> </textarea><br/>
    <textarea rows="10" cols="50" name="usage_ger" placeholder="usage german"> </textarea><br/>
    <textarea rows="10" cols="50" name="usage_jpn" placeholder="usage japanese"> </textarea><br/>
    <input type="text" name="pos_eng" placeholder="part of speech english" /><br/>
    <input type="text" name="pos_ger" placeholder="part of speech german" /><br/>
    <input type="text" name="pos_jpn" placeholder="part of speech japanese" /><br/>

  <button>create vocab</button>
  
</form>
</div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="/js/background.js"></script>
  <script src="/js/main.js"></script>
