 
<form method="post" action="/go/adminvocab">

    <input type="text" name="wordLang1" placeholder="word language 1" /><br/>
    <input type="text" name="wordLang2" placeholder="word language 2" /><br/>
    <input type="text" name="wordLang3" placeholder="word language 3" /><br/>
    <input type="text" name="defLang1" placeholder="definition language 1" /><br/>
    <input type="text" name="defLang2" placeholder="definition language 2" /><br/>
    <input type="text" name="defLang3" placeholder="definition language 3" /><br/>
    <textarea rows="10" cols="50" name="usageLang1" placeholder="usage language 1"> </textarea><br/>
    <textarea rows="10" cols="50" name="usageLang2" placeholder="usage language 2"> </textarea><br/>
    <textarea rows="10" cols="50" name="usageLang3" placeholder="usage language 3"> </textarea><br/>
    <input type="text" name="posLang1" placeholder="part of speech language 1" /><br/>
    <input type="text" name="posLang2" placeholder="part of speech language 2" /><br/>
    <input type="text" name="posLang3" placeholder="part of speech language 3" /><br/>

  <button>create vocab</button>
  
</form>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="/js/background.js"></script>
  <script src="/js/main.js"></script>
