<h2>Go</h2>

<ul></ul>





<%=@reading_list%>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="/js/background.js"></script>
  <script src="/js/main.js"></script>
  <script src="/js/gengo.js"></script>
