<h2>Go</h2>
<!-- <p><%= @username %></p>
 --><div class="button_container"></div>

  <script src="/js/background.js"></script>
  <script src="/js/gengo.js"></script>
  <script src="/js/main.js"></script>
