<h2>Go!</h2>

<div class="center">
  <div class="button_container"></div>
</div>
  <script src="/js/background.js"></script>
  <script src="/js/gengo.js"></script>
  <script src="/js/main.js"></script>
