  <div class="containerR">
    <h1>thenkyou</h1>
  </div>
  
  <div class="floatL"> 
    <div class="info">
      <p> <strong>thenkyou</strong> is a tool for learning slang in a foreign language. Users can read passages of colloquial conversation, and click on target words for further definitions and usage examples. <strong>thenkyou</strong> is currently available in <span class="welcome" id="eng">English</span>, <span class="welcome" id="ger">Deutsch</span>, and <span class="welcome" id="jpn">日本語</span>! Log in for full access, or check out are some examples here:</p>
    </div>
    <div class="center">
      <div class="button_container"></div>
    </div>

  </div>  

    <div class = "floatR">
    <div class="center">
      <%= @login_message %>
      <form method="post" action="/login">
        <input type="text" name="username" placeholder="Username" /><br />
        <input type="password" name="password" placeholder="Password" /><br />
        <br/>
        <button class="login_button">Log in</button>  
      </form>
      <p> Don't have login? <a href="/signup"><strong>Sign up!!</strong></a></p>
    </div>
    </div>



  <script src="/js/background.js"></script>
  <script src="/js/main.js"></script>
  <script src="/js/genhome.js"></script>
