  <h1>thenkyou</h1>

    <p> thenkyou is a tool to help you learn slang in a foreign language. Read selections with colloquial terms used in a conversational context, and click on the term to get more information about it. thenkyou is currently available in <span class="welcome" id="eng">English</span>, <span class="welcome" id="ger">Deutsch</span>, and <span class="welcome" id="jpn">日本語</span>! Here are some examples:</p>

    <div class="button_container"></div>

    <div class="center">
    <%= @login_message %>
      <form method="post" action="/login">
        <input type="text" name="username" placeholder="Username" /><br />

        <input type="password" name="password" placeholder="Password" /><br />

        <br/>
        <button>Log in</button>  
      </form>
    </div>

  <script src="/js/background.js"></script>
  <script src="/js/main.js"></script>
  <script src="/js/genhome.js"></script>




