  <h1>thenkyou</h1>

    <h2> Homepage </h2>

    <div class="center">
    <%= @signup_message %>
      <form method="post" action="/">
        <input type="text" name="username" placeholder="Username" /><br />

        <input type="password" name="password" placeholder="Password" /><br />

        <input type="email" name="email" placeholder="E-Mail" /><br />


        <div class="langButton" id="eng">English</div>
        <div class="langButton">Deutsch</div>
        <div class="langButton" id="jpn">日本語</div>

        <br/>
        <button>Log in</button>  
      </form>
        

    
    </div>



