  <h1>thenkyou</h1>

    <h2> Homepage </h2>

    <div class="center">
    <%= @signup_message %>
      <form method="post" action="/">
        <input type="text" name="username" placeholder="Username" /><br />

        <input type="password" name="password" placeholder="Password" /><br />

        <input type="email" name="email" placeholder="E-Mail" /><br />

        <input type="text" name="native_language" id="nl" />

        <div class="langButton" id="eng">English</div>
        <div class="langButton" id="ger">Deutsch</div>
        <div class="langButton" id="jpn">日本語</div>

        <br/>
        <button>Log in</button>  
      </form>
    </div>

    <div class="center">
    <%= @login_message %>
      <form method="post" action="/login">
        <input type="text" name="username" placeholder="Username" /><br />

        <input type="password" name="password" placeholder="Password" /><br />

        <br/>
        <button>Log in</button>  
      </form>
    </div>

  <script src="/js/background.js"></script>
  <script src="/js/main.js"></script>




